/* __________styles.css__________ */

/*CSS Meyer Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*__________Colour Scheme__________*/

/*__________General__________*/

body {
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 100px 1fr 70px;
    min-width: 1200px;
}

html {
    font-size: 16px;
}

/*__________Header__________*/

.header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 300px 1fr 350px 230px;
    gap: 20px;
}

.date {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    padding-left: 75px;
}

.date > p {
    font-size: 1.2rem;
    opacity: 0.6;
    font-weight: 700;
}

.search {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search form {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 5px;
    position: relative;
}

.search .city {
    grid-area: 1 / 1 / 2 / 2;
}

.search .region {
    grid-area: 1 / 2 / 2 / 3;
}

.search .location-inputs {
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
}

.search input {
    padding: 3px 7px;
    border-radius: 10px;
    font-size: 1rem;
    align-self: center;
    width: 100%;
}

.search button {
    grid-area: 1 / 2 / 2 / 3;
    position: absolute;
    left: 173px;
    top: 4px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.search label {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-left: -4px;
}

.units {
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: aquamarine;
    border-radius: 16px;
    width: 48px;
    height: 22px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
    content: '';
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, black 0%, black 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 20px;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, white 0%, white 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: aliceblue;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 24px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

/*__________Main__________*/

.main {
    grid-area: 2 / 1 / 3 / 2;
    height: calc(100vh - 170px);
    background-size: cover;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2fr 3fr;
    gap: 50px;
}

/* At 100% zoom div size is 554px width by 421px length */
.current {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    padding: 30px 0px 0px 50px;
    color: white;
}

/* At 100% zoom div size is 1385px width by 210px length */
.forcast {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    padding: 0px 50px 30px 50px;
}

/*__________Current Weather Display__________*/

.current .weather-display {
    display: grid;
    background-color: black;
    opacity: 0.7;
    grid-template-rows: 10% 45% 1fr 1fr;
    padding: 30px;
    border-radius: 20px;
}

.current .location {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
}

.current .location > p {
    font-size: 1.5rem;
}

.current .temp {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    border-bottom: 2px solid white;
    align-self: flex-end;
}

.current .temp p {
    display: flex;
    gap: 5px;
    font-size: 7rem;
}

.current .temp span.units {
    font-size: 2rem;
    align-self: flex-start;
}

.conditions-wrapper {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 1fr 100px;
    font-size: 1.2rem;
}

.conditions {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
}

.precip {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.precip .icon {
    width: 40px;
    height: 40px;
    align-self: flex-end;
}

.precip .percent {
    margin-bottom: 18px;
}

.description {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    align-items: center;
}

.forcast .weather-display {
    display: flex;
    gap: 10px;
}

.day {
    background-color: black;
    opacity: 0.5;
    flex: 1;
    border: 1px solid white;
    border-radius: 20px;
}

/*__________Footer__________*/

.footer {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer-text {
    font-size: 0.9rem;
    color: white;
}

.footer-icon > a {
    display: flex;
}

.footer-icon > a > .svg {
    height: 40px;
    margin-left: 10px;
}

.svg:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s ease;
}
